body{
    background-color: black;
    color: white;
    background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2013/03/14/52053/34841beea7a7cff825028d9434f1d172.jpg");
    background-size: cover;
}

li{
    background-color: rgba(25,25,25,.5);
}
a{
    background-color: rgba(25,25,25,.5);;
}
.vertical-menu a {
    border: 10px;
    color: blue;
    display: block;
    padding: 10px;

}
.vertical-menu a:hover{
    background-color: rgb(39, 155, 164);
}

.vertical-menu a.active{
    background-color: white;
}
.vertical-menu{
    width: 200px;
}