body{
    background-color: black;
    color: white;
}

.vertical-menu a {
    border: 10px;
    color: blue;
    display: block;
    padding: 10px;

}
.vertical-menu a:hover{
    background-color: rgb(39, 155, 164);
}

.vertical-menu a.active{
    background-color: white;
}
.vertical-menu{
    width: 200px;
}